.grmng-pkg-sec.contact-page {
    .grmng-pkg-sec-cnt {
        .grmng-pkg-sec-lft {
            position: absolute;
            left: 0;
            top: 23%;
            width: 33%;
        }
    }
}
.contact-form{
    h2{
        margin-bottom: 20px;
    }
}
