/* ----------------------
    Color code names
---------------------  */
 
/*Primary Buttons*/

$primary-btn1: #e96069;
$primary-btn11: #d3525a;
$primary-btn2: #fcaa2a;
$primary-btn22: #d7870a;


/*Secondary Buttons*/

$dark-violet: #333544;
$ultra-violet: #27304b;
$dark-black: #000;
$mirage-black: #0e1c1e;
$black-1: #222222;
$black-8: #464646; 
$black-6:#7f7f84; 
$grey:#b0b0b0;
$light-grey: #e8e8e8;
$light-grey2:#ebebeb;
$light-grey3:#f4f4f4;
$pale-green: #1cbd28;
$peach-grey: #eee;
$greenish: #4ab892;
$cyan: #87cbca;
$white: #fff;
$yellowish-org: #f6b833;
$sun-yellow: #ffd90f;

// font-family 

$fontsPath : '../fonts/'; 
 